*.class
*.jar
.hg/
.hgignore
/.nrepl-port
/checkouts
/classes
/codox
/jackdaw-[a-z]*/checkouts
/jackdaw-[a-z]*/target
/target
/test-results
/logs
pom.xml
pom.xml.asc
.lein-*
.cpcache
.nrepl-port
/examples/*/target
