{:linters {:unused-binding { ;; ignore unused :as binding.
                            :exclude-destructured-as true}}

 :lint-as {clojure.test.check.clojure-test/defspec clojure.core/def
           jackdaw.data/defn->data clojure.core/defn
           jackdaw.test.transports/deftransport clojure.core/defn
           manifold.deferred/loop clojure.core/let}}