---
version: 2

references:
  repo_cache_key: &repo_cache_key
    v1-jackdaw-{{ .Branch }}-{{ .Revision }}

  repo_cache_backup_1: &repo_cache_backup_1
    v1-jackdaw-{{ .Branch }}

  repo_cache_backup_2: &repo_cache_backup_2
    v1-jackdaw

  restore_repo: &restore_repo
    restore_cache:
      keys:
        - *repo_cache_key
        - *repo_cache_backup_1
        - *repo_cache_backup_2

  mvn_cache_key: &mvn_cache_key
    v1-jackdaw-deps-{{ checksum "project.clj" }}

  mvn_cache_backup: &mvn_cache_backup
    v1-jackdaw-deps

  restore_mvn: &restore_mvn
    restore_cache:
      keys:
        - *mvn_cache_key
        - *mvn_cache_backup

  build_config: &build_config
    docker:
      - image: circleci/clojure:lein-2.8.1
    working_directory: /home/circleci/jackdaw

  deploy_config: &deploy_config
    docker:
      - image: circleci/clojure:lein-2.8.1
    working_directory: /home/circleci/jackdaw

  test_config: &test_config
    docker:
      - image: circleci/clojure:lein-2.8.1
      - image: confluentinc/cp-zookeeper:5.1.0
        environment:
          ZOOKEEPER_CLIENT_PORT: 2181
      - image: confluentinc/cp-kafka:5.1.0
        environment:
          KAFKA_BROKER_ID: 1
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_ZOOKEEPER_CONNECT: localhost:2181
      - image: confluentinc/cp-schema-registry:5.1.0
        environment:
          SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL: localhost:2181
          SCHEMA_REGISTRY_HOST_NAME: localhost
          SCHEMA_REGISTRY_LISTENERS: http://localhost:8081
      - image: confluentinc/cp-kafka-rest:5.1.0
        environment:
          KAFKA_REST_ZOOKEEPER_CONNECT: localhost:2181
          KAFKA_REST_LISTENERS: http://0.0.0.0:8082
          KAFKA_REST_SCHEMA_REGISTRY: http://localhost:8081
          KAFKA_REST_HOST_NAME: localhost
    working_directory: ~/jackdaw

jobs:
  checkout_code:
    <<: *build_config
    steps:
      - *restore_repo
      - checkout
      - save_cache:
          key: v1-jackdaw-{{ .Branch }}-{{ .Revision }}
          paths:
            - .
  checkout_tags:
    <<: *deploy_config
    steps:
      - *restore_repo
      # Workaround required for https://discuss.circleci.com/t/22437
      #
      # This is required to prevent the warning that appears about connecting
      # to a host for the first time when we attempt to fetch the tags from
      # github.
      #
      # The `add-key` script checks the fingerprint of the ssh key returned
      # by github against the fingerprint published below on their website
      # to protect against MITM attacks
      #
      #  https://help.github.com/en/articles/githubs-ssh-key-fingerprints
      #
      - run: |
          .circleci/bin/add-key github.com nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8
          git fetch --force origin "refs/tags/${CIRCLE_TAG}:refs/tags/${CIRCLE_TAG}"
      - checkout
      - save_cache:
          key: v1-jackdaw-{{ .Branch }}-{{ .Revision }}
          paths:
            - .
  deps:
    <<: *build_config
    steps:
      - *restore_repo
      - *restore_mvn
      - run:
          lein with-profiles +test deps
      - save_cache:
          key: *mvn_cache_key
          paths:
            - /home/circleci/.m2
  test:
    <<: *test_config
    steps:
      - *restore_repo
      - *restore_mvn
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          lein with-profile +test cloverage --codecov
      - store_artifacts:
          path: ./logs
      - store_artifacts:
          path: target/coverage
      - store_test_results:
          path: target/test-results
      - run:
          name: Report Test Coverage
          command: bash <(curl -s https://codecov.io/bash)

  deploy:
    <<: *deploy_config
    steps:
      - *restore_repo
      - *restore_mvn
      - run:
          openssl aes-256-cbc -a -d -in secret-file-cipher -out .circleci/fundingcirclebot.key -k $DEPLOY_KEY
      - run:
          name: Prepare signing key
          command: |
            gpg --yes --batch --import /home/circleci/jackdaw/.circleci/fundingcirclebot.key

      - run:
          name: Deploy to Clojars
          command: |
            export LEIN_GPG=/home/circleci/jackdaw/.circleci/bin/gpg
            export REAL_GPG=$(which gpg)

            lein do jar, pom, deploy clojars
    
  deploy_snapshot:
    <<: *deploy_config
    steps:
      - *restore_repo
      - *restore_mvn
      - run:
          name: Deploy to Clojars
          command: |
            lein do jar, pom, deploy clojars

workflows:
  version: 2
  build_and_test:
    jobs:
      - checkout_code
      - deps:
          context: org-global
          requires:
            - checkout_code
      - test:
          context: org-global
          requires:
            - deps
      - deploy_snapshot:
          context: org-global
          requires:
            - test
          filters:
            tags:
              ignore: /.*/
            branches:
              ignore: /master/

  checkout_and_deploy:
    jobs:
      - checkout_tags:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - deploy:
          context: org-global
          requires:
            - checkout_tags
          filters:
            tags:
              only: /^\d+\.\d+\.\d+$/
            branches:
              ignore: /.*/
