{:deps
 {danlentz/clj-uuid {:mvn/version "0.1.7"}
  fundingcircle/jackdaw {:mvn/version "0.6.4"}
  org.apache.kafka/kafka-streams {:mvn/version "2.1.0"}
  org.apache.kafka/kafka-streams-test-utils {:mvn/version "2.1.0"}
  org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/tools.logging {:mvn/version "0.4.1"}}

 :mvn/repos
 {"confluent" {:url "https://packages.confluent.io/maven/"}}

 :paths
 ["src" "test" "dev" "../dev"]

 :aliases
 {:test {:extra-deps {com.cognitect/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
