<configuration scan="true" scanPeriod="5 seconds">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 10 days' worth of history capped at 1GB total size -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d %level %logger: %msg%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder> 
    </appender> 
      
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>
